{% extends "Refriends/base.html" %}

{% load custom_filters %}

{% block page_header %}
<h1>Groups</h1>
{% endblock page_header %}

{% block content %}

<ul>
  {% for group in groups %}
    {% if group.members %}
        {% with members=group.members|split:", " %}
          {% if user.username in members or group.all_users %}
            <li><h4>
                <a href="{% url 'Refriends:group' group.id %}">{{ group }}</a>
            <h4></li>
          {% endif %}
        {% endwith %}
    {% endif %}
  {% empty %}
    <li><h3>No groups have been added yet.</h3></li>
  {% endfor %}
</ul>

<h5><a href="{% url 'Refriends:new_group' %}">Add a new group</a></h5>
{% endblock content %}
