{% extends "Refriends/base.html" %} {% block page_header %}
<h2>Information</h2>
{% endblock page_header %} {% block content %}

<h3>Overview</h3>

<p>ReFriends is a python-based web application programmed using django. It was created primarily through a tutorial in "Python Crash Course" by Eric Matthes, but was heavily adapted to suit this specific project. Its purpose is to provide a safe and fun meeting space for the participants of Refresh/Oct 2025.</p>

<h3>HTTP vs HTTPS</h3>

<p>This site does not use https, so it is not extremely secure. This is why your browser may warn you about the site being 'insecure'. Please do not use the same username or password as any other accounts you have, and notify Isaac immediately if your account gets hacked.</p>

<h3>Donations</h3>

<p>Refriends is hosted on a web server that costs $4 a month. Any and all donations are extremely welcome! Contact Isaac through ReFriends for more information.</p>

<h3>Timezones</h3>

<p>As of the current version, your timezone needs to be manually set through the Set Timezone page.</p>

<h3>Rules</h3>

<ul>
    <li>Only attendees of Refresh/Oct 2025 may use this website.</li>
    <li>Remain kind and loving at all times. We're all friends here. Violators will be temporarily banned following a first offense, with increasing durations for repeat offenders.</li>
    <li>Most importantly: Have Fun!</li>

    {% endblock content %}
</ul>
