{% extends "Refriends/base.html" %} {% load bootstrap4 %} {% block page_header%}
<h2>Log in to your account.</h2>
{% endblock page_header %} {% block content %} {% load tz %}
{%get_current_timezone as TIME_ZONE%}
<form method="POST" action="{% url 'users:login' %}" class="form">
    {% csrf_token %} {% bootstrap_form form %}

    </select>
    {% buttons %}
    <button name="submit" class="btn btn-primary">Log in</button>
    {% endbuttons %}
    <input type="hidden" name="next" value="{% url 'Refriends:groups' %}" />
</form>

{% endblock content %}
